body{
	background-color: white;
	font-family: Roboto;
	font-size: 50px;
}
h1{
	text-align: right;
	font-size: 1em;
	font-family: Roboto;
	letter-spacing: 5px;
	color: #1b3861;
}
h3{
	color: #1b3861;
}
h4{
	color: #1b3861;
}
p{
	text-align: left;
	font-size: 16px;
	font-family: Roboto;
	color: #1b3861;	
}
.logo-header{
	display: inline-block;
	margin-left: 2em;
}
.row-header{
	display:inline-block;
}
.col-md-6{
	margin-top: 50px;
}
.col-md-6 p{
	margin-top: 40px;
}
.player{
	padding-top: 75px;
	padding-right: 75px;
}
.overlay-bar{
	background: none;
}
.top-bar{
	position: absolute;
	width: 100%
}
.hero-image {
	background: url('../images/Arin-white.jpg') ;
  background-size: cover;
}
.headline{
	font-family: Roboto;
	padding-right: 150px;
	padding-top: 200px;
	padding-bottom: 340px;
	min-width: 100%;
	background-size: cover;
}
.span6 textleft
@media (max-width: 610px) {
  .headline{
	text-align: center;
	padding-top: 40px;
	padding-bottom: 20px;
	padding-right: 75px;
	padding-left: 75px;
	color: #87a4b6;
	min-width: 300px;
	}
}
.parallax {
  margin: 0;
  padding: 0;
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.slide {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  color: white;
  position: relative;
  padding: 25vh 10%;
  min-height: 120vh;
  width: 100vw;
  box-sizing: border-box;
  transform-style: inherit;

  .blurb {
    margin: 0 15vw 0 0;
  }
}
